@import url("https://fonts.googleapis.com/css2?family=Economica&family=Open+Sans&family=Sawarabi+Mincho&display=swap");

.App {
  background-color: #ffff;
  color: #1db954;
  font-family: "Economica", "Sawarabi Mincho", sans-serif;
  min-height: 100vh;
  overflow: hidden;
  padding: 10px;
  white-space: nowrap;
}
