.tracks {
  color: #ee0077;
  font-size: 5vw;
}
.tracks ul {
  padding: 0px;
}
.tracks li {
  list-style: none;
  border-bottom: 1px solid #1db954;
  padding-bottom: 4px;
  padding-top: 4px;
  padding-left: 0px;
}
