@import url("https://fonts.googleapis.com/css2?family=Economica&family=Open+Sans&family=Sawarabi+Mincho&display=swap");

.App {
  background-color: white;
  font-family: "Economica", "Sawarabi Mincho", sans-serif;
  /* background-color: #191414; */
  min-height: 100vh;
  font-size: calc(1px + 3vmin);
  padding: 10px;
  color: #1db954;
}
.App-textField {
  color: #1db954;
}
.App-header {
  flex-direction: column;
  font-size: calc(10px + 3vmin);
  color: #1db954;
}
.Form-complex {
}

.App-link {
  color: #61dafb;
}
