.App {
  background-color: #191414;
  min-height: 100vh;
  font-size: calc(1px + 3vmin);
  padding: 10px;
  color: #1db954;
}

.App-header {
  flex-direction: column;
  font-size: calc(10px + 3vmin);
  color: #1db954;
}

.App-link {
  color: #61dafb;
}
